<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d{dd/MM/yyyy HH:mm:ss}]: %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="CONSOLEFILE" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="ActiveFileName" value="${catalina.base}/logs/motorHoraspersonas-console.log" />  
			<!-- The file to roll to, this is a fairly intelligent parameter, if the file ends in .gz, it gzips it, based on the date stamp it rolls at that time, default is yyyy-MM-dd, (rolls at midnight)
			See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
			<param name="FileNamePattern" value="${catalina.home}/logs/motorHoraspersonas/motorHoraspersonas-console.%d{yyyy-ww}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d{dd/MM/yyyy HH:mm:ss}]: %c - %m%n" />
		</layout>
	</appender>
		
	<appender name="APPFILE" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="ActiveFileName" value="${catalina.base}/logs/motorHoraspersonas.log" />  
			<!-- The file to roll to, this is a fairly intelligent parameter, if the file ends in .gz, it gzips it, based on the date stamp it rolls at that time, default is yyyy-MM-dd, (rolls at midnight)
			See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
			<param name="FileNamePattern" value="${catalina.home}/logs/motorHoraspersonas/motorHoraspersonas.%d{yyyy-ww}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d{dd/MM/yyyy HH:mm:ss}]: %c - %m%n" />
		</layout>
	</appender>

	<appender name="WM_AGENDA" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="ActiveFileName" value="${catalina.base}/logs/motorHoraspersonas-wm_agenda.log" />  
			<!-- The file to roll to, this is a fairly intelligent parameter, if the file ends in .gz, it gzips it, based on the date stamp it rolls at that time, default is yyyy-MM-dd, (rolls at midnight)
			See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
			<param name="FileNamePattern" value="${catalina.home}/logs/motorHoraspersonas/motorHoraspersonas-wm_agenda.%d{yyyy-ww}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d{dd/MM/yyyy HH:mm:ss}]: %m%n" />
		</layout>
	</appender>
	
	<!-- Loggers -->
	<logger name="com.prosegur.rulesEngine.engine.audit" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="WM_AGENDA"/>
	</logger>

	<logger name="com.prosegur.rulesEngine">
		<level value="DEBUG" />
		<appender-ref ref="APPFILE"/>
	</logger>
			
	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="CONSOLEFILE" />
	</root>

</log4j:configuration>
